{% extends "base.html" %}
{% block content %}
<h2 style="color:cyan" align="center">Student Details</h2>
<center>
	<table cellpadding="10" style="font-size:40px">
		<tr>
			<td style="color:yellow">Name:</td>
			<td>Gaurav Kumar Jaiswal</td>
		<tr>
			<td style="color:yellow">Roll No.:</td>
			<td>14075027</td>
		<tr>
			<td style="color:yellow">Branch:</td>
			<td>Computer Science And Engineering</td>
		<tr>
			<td style="color:yellow">Home<br>Town:</td>
			<td>Varanasi</td>
		<tr>
			<td style="color:yellow">Dob:</td>
			<td>26/12/1994</td>
		<tr>
			<td style="color:yellow">Gender:</td>
			<td>Male</td>
		<tr>
			<td style="color:yellow">Courses:</td>
			<td>Mathematics II, Fundamentals Of Electrical Engg., IT Workshop, Engineering Mechanics, Philosophy</td>
	</table>
</center>
{% endblock %}
