body{  
	font-size: 40px;
	color: white;
	background-color: blue;
	padding-left:5em;
	font-family: "Monotype Corsiva"
}

h1 {
	
	background-color: #00FF00;
   }

a {
	color:white;
  }

table {
	font-size: 30px;
	
}
p {
	font-size: 30px;
}
